Welcome to {{ ansible_facts['fqdn'] }} system.
The system is controlled by ansible automation tool.

If any security concerns are there please reach out to the {{ username }}@example.com for assitance. 
